*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
    background-color: #1A1A1C;
}
:root{
    --positive-color : green;
    --negative-color : red;
}
body{
    height: 100Vh;
    width: 100vw;
}
main{
    display: flex;
    margin:50px auto;
    flex-direction: column;
    width: 70%;
    gap:20px;
    align-items: center;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
input{
    padding: 8px;
    width: 65%;
}
.btn{
    padding: 5px;
    width:15%;
    border-radius: 5px;
    outline: none;
    border: 1px solid white;
    overflow: hidden;
}
table{
    width:100%;
    text-align: center;
    border-collapse: collapse;
}

tr{
    border-bottom: 1px solid white;
    margin: auto;
}
td{
    padding: 10px;
    height: 70px;
}

tr td:first-child {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    gap: 2px;
    align-items: center;
}
.positive{
    color : var(--positive-color);
}
.negative{
    color : var(--negative-color);
}